<section class="container">
  <h1>新規グループ「<%= @new_group.name %>」を作成しました。</h1>
  <p>以下のグループIDを参加者にお伝えください。</p>
  <h2>グループID: 「<%= @new_group.id %>」</h2>
  <p>なお、グループにパスワードを設定している場合は、そちらもご一緒にお伝えください。</p>
</section>
