#groups_index {
  @include group_outline;

  article {
    margin: 10px;
    // グループ参加/作成のボタン
    .btn {
      height: 100%;
      padding: 50px;
      .btn_icon {
        font-size: 60px;
      }
    }
  }
}
