#layouts_group {
  #bg_image {
    background: image-url(layouts_group_bgimage);
  }
  #group_heading {
    text-align: center;
  }
  #today {
    font-size: 20px;
    margin: 0;
  }
  #group_name {
    margin: 0;
    margin-bottom: 10px;
  }
}
