#top_index_bgimage {
  background: image-url(top_index_bgimage) no-repeat center;
  @media screen and (min-width: $screen-lg-min) {
    height: 36vw;
    padding: 9vw 0;
  }
}
#top_index_header {
  #top_index_heading {
    @media screen and (max-width: $screen-xs-max) {
      text-align: center;
    }
    h1 {
      font-family: $logo-font;
    }
    p {
      @media screen and (max-width: $screen-xs-max) {
        font-size: 16px;
      }
    }
  }
  #top_index_form {
    margin-top: 20px;
    padding: 10px;
  }
}
