@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Nunito');

$main-color: #288c66;     // フォレストグリーン
$base-color: #f9fff9;     // かなり薄い緑（ほぼ白）
$accent-color: #7b5544;   // コーヒー色
$logo-font: 'Nunito', sans-serif; // ロゴなどのフォント

@import "common"; // 全体レイアウトのスタイル
@import "partials/*"; // 各ページのスタイル
