@import "bootstrap-sprockets";
@import "bootstrap";

$main-color: #288c66;
$base-color: #f9fff9;
$accent-color: #6b3f31;

body {
  font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
  background-color: $base-color;
}

.navbar-default {
  background-color: $main-color;
  .navbar-brand {
    color: $base-color;
    &:hover {
      color: $base-color;
    }
  }
}
